
<h1>It's <%= @crm_app_name %></h1>
<div class ="about">
     <img src = "Image/heart.png">
    <h2> Here at Stef's, we believe in taking good care of our clients. Take the time to thoughtfully update the CRM so that we're all on the same page. </h2>


<!-- <ul>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/contacts/new">Add new contacts</a></li>
</ul> -->


