<!DOCTYPE html>
<html>
  <head>


    <link rel="stylesheet" type="text/css" href="/style.css">
    <title> Stef's CRM </title>
  </head>
  <body>
    <header></header>



    <nav>
      <div class = "navigation">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/contacts">VIEW CONTACTS</a></li>
          <li><a href="/contacts/new">ADD CONTACTS</a></li>

      </div>

    </nav>



      <%= yield %>



    <footer></footer>

  </body>
</html>
