<h1>Create new Contact</h1>
<!--  <link rel="stylesheet" type="text/css" href="/style.css"> -->

<div class = "form">

<form action="/contacts" method="post">
  <p> First Name: </p>
  <input type="text" name="first_name">
  <p>Last Name: </p>
  <input type="text" name="last_name">
  <p>Email Address:</p>
  <input type="text" name="email">
  <p>Notes:</p>
  <input type="text" name="note">

  <input type="submit" name="Submit">
</form>
</div>
