/** {
  box-sizing: border-box;
}
*/
.navigation {
  color: pink;
  list-style: none;
  float: left;
  margin: 0 0 3em 0;
  width: 100%
}
.navigation li {
  float: left; }
.navigation li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc; }

